<div style="text-align:center">
    <ul class="main">
        <li class="date">
            <h3>Yaklaşan Etkinlikler</h3>
            <p>Schedule of Events</p>
        </li>
        <li class="events">
            <ul class="events-detail">
                <li>
                    <a href="#">
                        <span class="event-time">2:00pm - </span>
                        <span class="event-name">Kickoff Ceremony</span>
                        <br />
                        <span class="event-location">Headquarters</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="event-time">2:00pm - </span>
                        <span class="event-name">Kickoff Ceremony</span>
                        <br />
                        <span class="event-location">Headquarters</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="event-time">2:00pm - </span>
                        <span class="event-name">Kickoff Ceremony</span>
                        <br />
                        <span class="event-location">Headquarters</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="event-time">2:00pm - </span>
                        <span class="event-name">Kickoff Ceremony</span>
                        <br />
                        <span class="event-location">Headquarters</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="event-time">2:00pm - </span>
                        <span class="event-name">Kickoff Ceremony</span>
                        <br />
                        <span class="event-location">Headquarters</span>
                    </a>
                </li>
            </ul>


        </li>
        <li class="date">
            <h3>Dec 19</h3>
            <p>Schedule of Events</p>
        </li>
        <li class="events cf">
            <ul class="events-detail">
                <li>
                    <a href="#">
                        <span class="event-time">2:00pm - </span>
                        <span class="event-name">Kickoff Ceremony</span>
                        <br />
                        <span class="event-location">Headquarters</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="event-time">2:00pm - </span>
                        <span class="event-name">Kickoff Ceremony</span>
                        <br />
                        <span class="event-location">Headquarters</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="event-time">2:00pm - </span>
                        <span class="event-name">Kickoff Ceremony</span>
                        <br />
                        <span class="event-location">Headquarters</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="event-time">2:00pm - </span>
                        <span class="event-name">Kickoff Ceremony</span>
                        <br />
                        <span class="event-location">Headquarters</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="event-time">2:00pm - </span>
                        <span class="event-name">Kickoff Ceremony</span>
                        <br />
                        <span class="event-location">Headquarters</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>