<nav class="navbar navbar-default navbar-static-top navbar-sticky" style="z-index:1000">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../assets/img/slider/dogdok-trimmed.png" height="100%" alt="">
        </a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        
        <ul class="nav navbar-nav collapse navbar-collapse navbar-responsive-collapse">
            <li class="{% if page.name == "index.md" %} active {% endif %}"><a href="/index">Ana Sayfa</a></li>
            <li class="{% if page.name == "bio.md" %} active {% endif %}"><a href="/bio">Ne Bu DOGDOK?</a></li>
            <li class="{% if page.name == "ekip.md" %} active {% endif %}"><a href="/ekip">Ekip</a></li>
            <!--li class="{% if page.name == "DGD.md" %} active {% endif %}"><a href="/DGD">DGD</a></li-->
            <li class="{% if page.name == "etkinlik.md" %} active {% endif %}"><a href="/etkinlik">Etkinliklerimiz</a></li>
            <li class="{% if page.name == "turnuva.md" %} active {% endif %}"><a href="/turnuva">Turnuva Kayıt</a></li>
            <li class="{% if page.name == "mobil.md" %} active {% endif %}"><a href="/lonca">Lonca Savaşları</a></li>
            <li class="{% if page.name == "dogdokkart.md" %} active {% endif %}"><a href="/dogdokkart">Dogdok Kart</a></li>
            <li class="{% if page.name == "dergi.md" %} active {% endif %}"><a href="/dergi">Dergi</a></li>

        </ul>
    </div>
</nav>