@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

:root {
  --color-one: #E48D1A; /* change colors of the gradient here */
  --color-two: #32088D;
  --blendmode: screen; /* change gradient blend mode here */
}

body {
  position: relative;
	margin: 0;
}

ul {
  list-style: none;
}

.cont {
  position: relative;
}

.mobile-desc{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size:150%;
  font-weight: 600;
}

.mobile-desc h1 {
  position:relative;
  top:20vh;
  left:50%;
  transform: translate(-50%,-50%);
  font-family: 'Roboto';
  z-index:2;

  background: linear-gradient(to right, var(--color-two) 0%, rgb(79, 16, 216) 100%);
  background-clip: text;

  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;


}
.mobile-desc h2 {
  position:relative;
  top:10vh;
  left:50%;
  transform: translate(-50%,-50%);
  font-family: 'Roboto';
  z-index:2;

  background: linear-gradient(to right, var(--color-two) 0%, rgb(79, 16, 216) 100%);
  background-clip: text;

  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


#pic {
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  overflow:hidden;
  background-image: url('https://c.imge.to/2019/08/09/Q5qNh.jpg');
  background-size:cover;
  background-position:center center;
}

#filter {
  width:100vw;
  height:100vh;
  position:relavite;
  top:0;
  left:0;
  background-image: linear-gradient(to right bottom, var(--color-one), var(--color-two));
  mix-blend-mode: var(--blendmode);
}
